<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
<%= @test.name %>
</p>

<p>
  <b>Pre:</b>
  <iframe src=<%= @test.pre %> style="width:718px; height:700px;" frameborder="0"></iframe>
</p>

<p>
  <b>Post:</b>
  <iframe src=<%= @test.pre %> style="width:718px; height:700px;" frameborder="0"></iframe>
</p>

<%= link_to "Next", @test.post, class: "btn btn-large btn-primary" %>			</div>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
